@model IEnumerable<HelperMethods.Models.Person>

@foreach (var person in Model)
{
    <tr>
        <td>@person.FirstName</td>
        <td>@person.LastName</td>
        <td>@person.Role</td>
    </tr>
}